<li>
    {{burger_name}}

    <button class="devour-button" data-id="{{this.id}}" data-burgerDevoured="{{devoured}}">
        {{#if devoured}}DEVOURED!{{else}}VOMIT{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>